.App {
  text-align: center;
}
body{
  font-family: sans-serif;
}
.btn{
  margin-bottom: 20px;
  background-color: green;
  border: none;
  padding: 13px 45px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}